<div class="chat-container" *ngIf="selectedThread">
  <div class="messages-container">
    <div *ngFor="let message of messages" [@newMessage]="!message.isRead ? 'true' : ''" class="message">
      <app-message
        [message]="message"
        [user]="getUser(message.author) | async"
        [isSelectedUser]="isSelectedUser((getUser(message.author) | async).id)"
        [currentTime$]="currentTime$">
      </app-message>
    </div>
  </div>
  <div class="fit-height">
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage(messageForm.value.message)" class="fit-height row">
            <textarea
              formControlName="message"
              type="text"
              rows="4"
              placeholder="your message"
              class="textarea full-width"></textarea>
      <button type="submit" class="float-right" [disabled]="!messageForm.valid">
        Send
      </button>
    </form>
  </div>
</div>
<div *ngIf="!selectedThread">
  <h1>Please select a thread to display</h1>
</div>
