<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="register()" class="form">
    <label class="label">
      <span>Email: </span>
      <input type="text" formControlName="email" placeholder="email" [ngClass]="emailOccupiedClass()">
    </label>
    <ng-container *ngIf="isEmailInvalid()">
      <span *ngIf="isEmailError()" class="error">
        Invalid email
      </span>
      <span *ngIf="isEmailRequired()" class="error">
        Email required
      </span>
    </ng-container>
    <span *ngIf="isEmailOccupied" class="error">
        Email already in use, please chose another one
    </span>
    <label class="label">
      <span>Name: </span>
      <input type="text" formControlName="name" placeholder="name">
    </label>
    <ng-container *ngIf="isNameInvalid()">
      <span *ngIf="isNameRequired()" class="error">
        Name required
      </span>
    </ng-container>
    <label class="label">
      <span>Password: </span>
      <input type="password" formControlName="password" placeholder="password">
    </label>
    <ng-container *ngIf="isPasswordInvalid()">
      <span *ngIf="isPasswordSmall()" class="error">
        Password should be at least 6 characters
      </span>
      <span *ngIf="isPasswordRequired()" class="error">
        Password required
      </span>
    </ng-container>
    <button type="submit" [disabled]="!loginForm.valid">Register</button>
    <p>Already have account? <a routerLink="/login">Sign in</a></p>
  </form>
</div>
