.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
}

.messages-container {
  height: 100%;
  overflow: auto;
  padding: 0 5px;
  background: aliceblue;
  border: 1px solid black;
}

.message {
  width: 100%;
  margin: 5px 0;
  background: wheat;
  box-shadow: 1px 2px #80808080;
}

.line {
  padding: 0 10px;
  min-height: 18px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea {
  resize: none;
  width: 100%;
  padding: 5px 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.text-indent {
  text-indent: 20px;
}

.fit-height {
  height: fit-content;
}

.float-left {
  margin-right: auto;
}

.float-right {
  margin-left: auto;
}
