<div class="main-container">
  <div class="main">
    <div class="header">
      <span class="float-left">Ng-Chat App</span>
      <span class="float-right">Total unread: {{totalUnreadMessagesNumber$ | async}}</span>
    </div>
    <div class="threads-chat-container">
      <div class="threads-container">
        <app-threads></app-threads>
      </div>
      <div class="chat-container">
        <div class="full-height">
          <app-messages></app-messages>
        </div>
      </div>
    </div>
  </div>
</div>
