.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.main {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 5%;
  margin-bottom: 20px;
}

.float-left {
  margin-right: auto;
}

.float-right {
  margin-left: auto;
}

.threads-chat-container {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.threads-container {
  height: 50%;
  overflow: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.full-height {
  height: 100%;
}
