<div class="row">
  <ng-container *ngIf="thread && getLastMessage() as lastMessage">
    <ng-container *ngIf="lastMessage.author && author">
      <div class="image-container">
        <img [src]="author.avatarUrl" (error)="invalidImage($event)" alt="avatar" class="image">
      </div>
      <div class="chat-message">
        <span>{{author.name}}</span>
        <textarea
          readonly
          rows = "2"
          class="textarea hide-overflow cursor-default"
        >{{lastMessage.text.join('\n')}}</textarea>
      </div>
    </ng-container>
    <div *ngIf="unreadCount" @myInsertRemoveTrigger [@counterChange]="unreadCount" class="float-right unread-container">
      <span>{{unreadCount}}</span>
    </div>
  </ng-container>
</div>
