.row {
  display: flex;
  flex-direction: row;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 100%;
}

.textarea {
  resize: none;
  padding: 5px 10px;
}

.hide-overflow {
  overflow: hidden;
}

.cursor-default {
  cursor: default;
}

.float-right {
  margin-left: auto;
}

.unread-container {
  min-width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  border-radius: 50%;
  background: lightseagreen;
  color: white;
  font-size: larger;
  span {
    margin: auto;
  }
}
